body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.servicescard {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.servicescard:hover {
  background-color: #2c786c;
}

.servicescard img {
  position: center;
  width: 100px;
  border: 1px solid #000;
  border-radius: 5px;
}

.servicescard h2 {
  margin: 0;
}

.servicescard p {
  margin: 0;
}
